@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 1.5em;
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h1, h2 {
    color: #C84F5E;
    font-family: 'Courgette', cursive;
}

b {
    color: #C84F5E;
}

body {
    background-color: #DF6467;
    background-image: url(imagens/exercicio-background.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main, section {
    background-color: white;
    max-width: 900px;
    border-radius: 25px;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.322);
    margin: 40px auto;
    padding: 15px;
}

picture {
    display: block;
}

picture > img {
    width: 95%;
}

div#filme {
    display: block;
}

div#filme > video {
    width: 95%;
}

table, td {
    border: 1px solid black;
}

th { 
    background-color: #C84F5E;
    color: white;
    padding: 10px;
}